:root{
  --color-text:#868686;
  --color-title: #679fcb;
  --color-subtitle: #000000c2;
}

html, #root{
  background: rgba(41,184,229,1);
  background: -moz-linear-gradient(left, rgba(41,184,229,1) 0%, rgba(103,159,203,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,184,229,1)), color-stop(100%, rgba(103,159,203,1)));
  background: -webkit-linear-gradient(left, rgba(41,184,229,1) 0%, rgba(103,159,203,1) 100%);
  background: -o-linear-gradient(left, rgba(41,184,229,1) 0%, rgba(103,159,203,1) 100%);
  background: -ms-linear-gradient(left, rgba(41,184,229,1) 0%, rgba(103,159,203,1) 100%);
  background: linear-gradient(to right, rgba(41,184,229,1) 0%, rgba(103,159,203,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#679fcb', GradientType=1 );
}

html {
  scroll-behavior: smooth;
}

a.link {
  text-decoration: underline;
}

a > img{
  width: 25px;
  margin-right: 5px;
}

section {
  margin-bottom: 25px;
}

.text{
  color:var(--color-text);
}

.title {
  color: var(--color-title);
}

.subtitle{
  color: var(--color-subtitle);
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.container{
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.content {
  padding: 15px 60px;
}

@media screen and (max-width: 900px) {
  .container{
    /* padding: 0 !important; */
    margin: 0 !important;
    width: auto;
    max-width: max-content;
  }
  #profile{
    /* margin-top: 0 !important; */
  }

  .content{
    padding: 5px 15px;
  }
  
}

@media screen and (max-width: 600px) {
  h1.title {
    font-size: 25px;
    /* text-align: center; */
  }
  label.title {
    font-size: 20px;
    /* text-align: center; */
  }
  p.title {
    font-size: 20px;
    /* text-align: center; */
  }
  .subtitle{
    font-size: 20px;
    /* text-align: center; */
  }

  .experience > section{
    padding: 0 !important;
  }
  
}
